# Скопируй в client/.env и заполни

# Локально для разработки
VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000

# Для production (после деплоя бэкенда на Render):
# VITE_API_URL=https://blink-server.onrender.com
# VITE_SOCKET_URL=https://blink-server.onrender.com
